#about-opening {
    background: url('../img/grupowe_bledow2.jpg') no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.about-paragraph {
    h1 {
        display: inline-block;
        padding: 10px;
        background-color: #737473;
        color: #fff;
        font-family: "Dosis";
        font-size: 55px;
        margin-bottom: 20px;
    }
    
    p {
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 1.6;
        color: #737473;    
    }
    
    img {
        margin: 20px 0;    
    }
    .panel {
        font-size: 16px;
    }
}

//.se-container { 
//    background-color: #9f9f9f;
//    overflow: hidden;
//	padding-top: 200px;
//    //padding-bottom: 250px;
//}
//
//.se-slope {
//	margin: -200px -50px 0;
//	transform-origin: left center;
//	background: #9f9f9f;
//	transform: rotate(5deg);
//	box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
//    border-right-color: #e90089;
//	border-left-color: #e90089;
//}
//
//.se-slope .se-content {
//	transform: rotate(-5deg);
//}


   
.content-separator {
    font-family: 'Dosis', Helvetica, Arial, sans-serif;   
    font-size: 30px;
    font-weight: 900;
    color: #6f6f6f;
    border: 0;
    text-shadow: 0 0 15px #c6c6c6;
    margin-top: 20px;
}

#summarison {
    width: 100%;
    padding: 130px 0 0;
    background-color: #737473;
    text-align: center;
    overflow: hidden;
    .diagonal-box-top-asc {
        background-color: #bababa;   
    }
    h5 {
        font-size: 15px;
        color: #ddd;
        font-family: Play;
    }
    img {
        height: 215px;    
    }
    .number {
        font-size: 40px; 
        color: #e5e5e5;
    }
    .data-element {
        height: 130px;
        margin: 0;
    }
    .small-title {
        display: inline-block;
        padding: 5px;
        background-color: #9c9c9c;
        color: #dedede;
    }
    .section-heading {
        margin-top: 0;
        margin-bottom: 20px;
        display: inline-block;
        padding: 10px;
        background-color: #949494;
        color: #bababa;    
    }
    .row {
        margin-bottom: 50px;
    }
}

#vip {
    width: 100%;
    padding: 130px 0 0;
    text-align: center;
    overflow: hidden;
    .diagonal-box-top-desc {
        background-color: #737473;   
    }
    .section-heading {
        margin-top: 0;
        margin-bottom: 20px;
        display: inline-block;
        padding: 10px;
        background-color: #5D5D5D;
        color: #A0A0A0;    
    }
    img {
        height: 215px;    
    }
    .small-title {
        font-size: 16px;
        font-family: Play;
        font-weight: 900;
        color: #BABABA;
    }
    .row {
        margin-bottom: 50px;
    }
}

.curious-info-panel {
    margin-bottom:20px;
    background-color:rgba(255,255,255,.65);
    border:1px solid transparent;
    border-radius:4px;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
    box-shadow:0 1px 1px rgba(0,0,0,.05);
    border-color:#ddd;
    .panel-heading {
        text-align: right;
        background-color: #737473;
        color: #fff;
        font-family: "Open Sans";
        h5 {
            font-size: 16px;
            margin: 7px 0;
        }
        .fa {
            margin-left: 5px;
            font-size: 1.5em;
        }
    }
    .panel-body {
        color: #737473;
        background-color: #eee;
        font-family: Play;
        text-align: justify;
    }
}

#music {
    background-color: #9A9A9A;  
    color: #E8E8E8;
    border-top: 5px solid #9A9A9A;
}

#dances {
    background-color: #1D1D1D;    
    color: #9A9A9A;
}

#ideas {
    background-color: #5c5c5c;    
    color: #9A9A9A;
}

.galleries-transition {
    height: 10px;
    background: -webkit-linear-gradient(#fff, #B7B7B7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #B7B7B7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #B7B7B7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #B7B7B7); /* Standard syntax (must be last) */    
}

#initial-box {
    text-align: center;
    background-color: #bababa;
    h2 {
        font-family: Play;
        //font-weight: 900;
        font-size: 40px;
        color: #E8E8E8;
        //text-transform: uppercase;
        display: inline-block;
        background-color: #9A9A9A;
        margin: 0;
        padding: 15px;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            border-right: 74px solid #9A9A9A;
            border-top: 74px solid transparent;
            top: 0;
            left: -74px;
        }
        &:after {
            position: absolute;
            content: '';
            border-left: 74px solid #9A9A9A;
            border-top: 74px solid transparent;
            top: 0;
            right: -74px;
        }
    }
}

.gallery {
    div.row>div {
        padding: 0;    
        float: left;
        width: 33.333%;
        height: 380px;
        overflow: hidden;
    }
    .gallery-desc {
            font-size: 28px;
            font-family: Play;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            strong {
                font-size: 33px;    
            }
    }
}


/* TIMELINE */
.timeline {
  list-style: none;
  padding: 10px 0 10px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 10px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -10px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
    font-size: 12px;
}
.timeline-body > p {
    font-size: 10px;    
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-heading p small {
    font-size: 11px;    
}