nav { 
    &.navbar-default {
        margin-bottom: 0;
//        border-bottom: 3px solid @header-hover-bg;
        border: 0;
        background-color: #156d20;
    }
    .navbar-brand {
        padding: 5px;   
    }
    .navbar-nav > li > a {
        color: #ffffff;
        font-family: 'Dosis', Helvetica, Arial, sans-serif;
        font-size: 15px; 
        font-weight: 100;
//        text-shadow: 0 0 3px #c7c7c7;
        text-transform: uppercase;
        -o-transition:.2s;
        -ms-transition:.2s;
        -moz-transition:.2s;
        -webkit-transition:.2s;
        transition:.2s;    
    }
    .logo {
        height: 100%; 
    }
}


footer {
    color: #8A9282;
    background-color: #2D2D2D;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-top: 3px solid #383838;
    a {
        color: #61794A;
        margin-top: 5px;
        font-size: 15px;
        text-transform: uppercase;
    }
    a:hover {
        color: @header-hover-bg;
        text-decoration: none;
    }
    img {
        border: 1px solid #656565;
    }
    .text-group {
        border: 0;
        padding: 0;
        margin: 10px;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
//        .panel-heading {
//            border: 0;
//            border-bottom: 1px solid #61794A;
//            background-color: transparent;
//            color: #61794A;
//            padding-top: 12px;
//            margin-bottom: 5px;
//            h2 {
//                font-family: 'Dosis', Helvetica, Arial, sans-serif;
//                font-weight: 100;
//                margin: 0;
//            }
//        }
        h5 {
            color: #61794A;  
            font-weight: 400;
            font-size: 17px;
            margin-top: 0;
        }
    }
    .embed-responsive iframe {
        border: 5px solid #191919 !important;
    }
    .contact-detail {
        margin: 3px 0;
        &>i { 
            color: #61794A;
            font-size: 20px;
            padding-left: 0px;
        }
        &>span { 
            color: #61794A;
            font-size: 10px;
            padding-left: 0px;
            .fa-inverse {
                color: #2D2D2D;   
            }
            .fa-stack-1x {
                font-size: 14px;    
            }
        }
    }
//    .social-media {
//        text-align: center;
//        margin-top: 30px;
//        a {
//            color: #a2a2a2;
//            margin: 0 5px;
//        }
//        a:hover {
//            color: darken(#a2a2a2, 10%);
//        }
//    }
    .footer-ending {
        margin-top: 20px;
//        border-top: 3px solid #d3d3d3;
        background-color: #3D4E2D;
        padding: 15px 10px 10px 10px;
        color: #BBBBBB;
        text-align: center;
    }
}